__pycache__/
.env
*.db
*.pth
*.exe
*.log
.git/
node_modules/
dist/
build/
web/src/
web/package.json
*checkpoint.*
images/
tcl8.6/
tk8.6/
encoding/
http1.0/
msgs/
opt0.4/
tzdata/
*.tcl
docs/
plots/
assets/
